root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[{*.ts,*.js,*.css,*.html}]
indent_style = tab

[{*.json}]
indent_style = space
indent_size = 2

[{*.md}]
indent_style = space
indent_size = 2
